<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDP.HybridLab.WebApp</title>
    <link rel="stylesheet" href="~/MDP.HybridLab.WebApp.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- contents -->
    @RenderBody()

    <!-- scripts -->
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
